header {
    display: inline-block;
    margin-right: 1em;
    height: 2ex;
}

header * {
    display: inline;
    vertical-align: middle;
}

nav {
    display: inline-block;
    height: 2ex;
}

nav * {
    display: inline;
    vertical-align: middle;
}

legend {
    float: left;
}

fieldset {
    display: inline-block;
    border: 0;
    margin: 0;
    margin-left: 0.5em;
    padding: 0;
    height: 2ex;
}

fieldset * {
    vertical-align: middle;
}

/* Hides uPlot's default legends below the chart. */
table.u-legend {
    display: none;
}

fieldset#period-chooser > legend {
    margin-right: 0.5em;
}

fieldset#sensor-selector > label {
    margin-right: 0.5em;
    font-size: 11pt;
    font-style: italic;
}

